{{ 'review-section.css' | asset_url | stylesheet_tag }}

<script src="{{ 'review-section.js' | asset_url }}" defer="defer"></script>

<section class="reviews">
    <div class="container ">
      <div class="categories-text mt-5 mb-5">
        <span >{{ section.settings.text_span }}
        </span>
        <h1 class="text-opacity"> {{ section.settings.text_h1  }}</h1>
            </div>
      <div class="review-all d-flex justify-content-center">
        {% for block in section.blocks %} 
        <div class="review-1 me-2">
          <h1 class="m-0 p-0">{{ block.settings.review-text-h1 }}</h1>
        
          <p> {{ block.settings.review-text-p }} </p>
         <div class="text-center mt-5 viewer-img"> <img src="{{ block.settings.viewer-img | img_url:'master' }}" alt=""></div>
         <p>{{ block.settings.viewer-text }}</p>
        </div>
                  {%  endfor %}
   
      </div>
      <div class="bttn mt-5">
       <a href="{{ section.settings.view_all_link }}" ><button>{{ section.settings.view_all_text }}</button></a>
      </div>
    </div>
   </section>



{% schema %}
  {
    "name": "review section",
    "settings": [
      {
        "type":"text",
        "id":"text_span",
        "label":"behind_text"
      },
      {
        "type":"text",
        "id":"text_h1",
        "label":"above_text"
      },
      {
        "type":"url",
        "id":"view_all_link",
        "label":"link here your collection"
      },
      {
        "type":"text",
        "id":"view_all_text",
        "label":"view all"
        
      }
    ],
    "blocks":[
      {
        "name":"add review",
        "type":"slide",
        "settings":[
       
          {
            "type":"text",
            "id":"review-text-h1",
            "label":"review_text"
          },
          {
            "type":"text",
            "id":"review-text-p",
            "label":"review_text"
          },
           {
            "type":"image_picker",
            "id":"viewer-img",
            "label":"viewer_image"
          },
          {
            "type":"text",
            "id":"viewer-text",
            "label":"review_text"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"review section",
        "category":"text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}